*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 14px;
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background-color: #010001;
  margin: 0;
  padding-top: 3.78rem;
  color: #FFFFFF; }

img {
  max-width: 100%; }

.container {
  max-width: 1221px;
  width: 90%;
  margin: 0 auto; }

.header__logo {
  transition: all 0.3s; }
  .header__logo:hover {
    transform: scale(1.1); }

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center; }

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.nav__item {
  margin-right: 1.42rem; }
  .nav__item:last-child {
    margin-right: 0; }

.nav__link {
  text-decoration: none;
  color: #FFFFFF; }

.nav-secondary__link {
  text-decoration: none;
  color: #808080; }

.nav-secondary__item {
  margin-right: 1.42rem; }
  .nav-secondary__item:last-child {
    margin-right: 0; }

.nav-secondary__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0; }

.main {
  text-align: center;
  padding-top: 8.5rem; }
  .main__title {
    font-size: 4.57rem;
    line-height: 5.53rem;
    font-weight: normal;
    margin-bottom: 1.85rem;
    margin-top: 0; }
  .main__description {
    font-weight: 300;
    font-size: 1.14rem;
    max-width: 19.14rem;
    line-height: 140%;
    margin: 0 auto; }
    .main__description::after {
      content: '';
      display: block;
      height: 4.21rem;
      width: 2px;
      margin: 0 auto;
      margin-top: 1.85rem;
      background-color: #FFFFFF; }

.video {
  width: 100%;
  height: 53.57rem; }

.table__column {
  width: 21.42rem;
  padding-bottom: 0.35rem;
  padding-top: 0.35rem;
  font-size: 1.28rem;
  line-height: 180%; }
  .table__column--grey {
    color: #808080; }

.features {
  max-width: 1230px;
  width: 90%;
  margin: auto;
  padding: 3.57rem 0; }
  .features__overview {
    position: relative; }
  .features__rocket {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    max-width: 46rem;
    max-height: 122rem; }
  .features__title {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 140%;
    font-size: 1.71rem;
    margin-bottom: 3.21rem; }
  .features__table {
    margin-bottom: 15.57rem; }
  .features__text {
    max-width: 35rem;
    font-size: 1.14rem;
    line-height: 2.07rem;
    margin-bottom: 15rem; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 9.35rem; }
  .footer__logo {
    margin-bottom: 3rem; }
  .footer__nav {
    margin-bottom: 2rem; }
  .footer__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0; }
  .footer__item {
    margin-right: 1.42rem; }
    .footer__item:last-child {
      margin-right: 0; }
  .footer__text {
    color: #808080;
    margin: 0;
    margin-bottom: 2.14rem; }
    .footer__text--link {
      text-decoration: none;
      color: #808080; }
  .footer__button {
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    text-decoration: none;
    padding: 1.42rem  6.14rem;
    color: #FFFFFF;
    transition: all 0.3s; }
    .footer__button:hover {
      transform: scale(1.1); }

.item-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.28rem; }
